@import "./styles/example.scss"; 

// Base styles
body {
    font-family: 'Futura', sans-serif;
    margin: 0;
    padding: 0;
}

// Header styles
#header {
    display: flex;
    align-items: center;
    padding-left: 100px;
}

.logo {
    width: 300px;
    height: auto;
    margin: 65px 15px 0 0;
}

// Typography
h1, h2 {
    font-size: 3em;
    font-weight: bold;
}

// Media queries
@media screen and (min-width: 1024px) {
    h1 {
        font-size: 6em;
    }
}

// Content container
#content-container {
   display: grid;
   grid-template-columns: 250px auto;
}

// #race-nav {
//     // border: 5px solid black;
//     width: 250px;
//     height: 100%;
//     overflow: auto;
//     margin: 40px 0 0 25px;
//     margin-left: 120px;
// }

// // Nav links
// nav a {
//     border: 5px solid black;
//     display: block;
//     margin-top: 5px;
//     padding: 10px;
//     width: 200px;
//     text-decoration: none;
//     color: #000;
//     border-bottom: 1px solid black;
//     border-right: 1px solid black;
//     border-radius: 5px;
//     transform: skewX(-15deg);
//     text-align: center;


//     transition: border-bottom 0.3s ease-in-out; // New line
// }

#race-nav, #race-content {
    flex-shrink: 0;
}


#race-nav {
    width: 250px;
    height: 100%;
    overflow: auto;
    margin: 40px 0 0 120px;  /* Updated left margin */
    min-width: 250px;
}

/* Nav links */
nav a {
    border: 5px solid black;
    display: block;
    margin-top: 5px;
    padding: 10px;
    padding-left: 20px;
    width: 200px;  /* Assuming you've considered the overall width */
    text-decoration: none;
    color: #000;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-radius: 5px;
    transform: skewX(-15deg);
    text-align: center;
    transition: border-bottom 0.3s ease-in-out;
}

// Race links
.race-link {
    position: relative;
    display: inline-block;

    &:after {
        content: "";
        position: absolute;
        width: 0;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: black;
        visibility: hidden;
        transition: all 0.3s ease-in-out;
    }

    &:hover:after,
    &.active:after {
        visibility: visible;
        width: 100%;
    }

    &.active {
        font-weight: bold;
    }
}

.bold-border {
    border-right: 20px solid black;
}

// Race content
#race-content {
    min-width: calc(100% - 250px);
    position: relative;
    border-right: 10px solid black;
    border-bottom: 10px solid black;
    border-radius: 15px;
    padding: 0 0 225px 100px;
    flex-grow: 1;
    margin: 50px 200px 0 120px;
    transition: opacity 0.5s ease-in-out;
    opacity: 1;

    &::before {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        width: calc(100% - 5px);
        height: calc(100% - 5px);
        border-bottom: 2px solid #f3d333;
        border-right: 2px solid #f3d333;
        z-index: -1;
    }
}

.fade-content.fade-out {
    opacity: 0 !important;
    transition: opacity 0.5s ease-in-out !important;
    visibility: hidden;
}
.fade-content {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    visibility: visible;
}



// Results Table
.styled-table {
    width: 100%;
    border-collapse: collapse;
}

.styled-table, .styled-table th, .styled-table td {
    border: 1px solid black;
}

.styled-table th, .styled-table td {
    padding: 8px;
    text-align: left;
}

.styled-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.styled-table th {
    background-color: #f2d335;
    color: black;
}


#hidden-image-container {
    margin-top: 200px; /* Adjust as needed */
}
  


.element-class {
    visibility: hidden;
}
